<%# Nav barre %>
<div class="navbar navbar-center rounded-4 rounded-top-0 border border-2 border-black-subtitle " style="background-color: #ffffff;width: 390px;margin: auto;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dpwqk83qv/image/upload/v1710847333/test/logo_rings_paviez.png", width:"40", height:"40" %>
    <% end %>

    <%# bouton recherche %>
    <div class="position-sticky w-50 ">
      <%= form_with method: :get,url: games_path do |form| %>
        <%= form.text_field :query, class: 'form-control position-relative rounded-4 rounded', placeholder: 'Rechercher' %>
      <% end %>
    </div>

    <%# avatar %>
    <% if user_signed_in? %>
      <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag "https://res.cloudinary.com/dpwqk83qv/image/upload/v1710860343/test/f7cd9qxqr6fod0oobnnd.jpg", class: "avatar", alt: "dropdown menu" %>

      <%# sous menu de l'avatar %>
      <div class="dropdown-menu  rounded-4 col-12 text-center" style="background-color: #ffffff;width: 390px;">
<<<<<<< HEAD
        <p><%= link_to "Compte", "#",class:" text-decoration-none text-dark"%></p>
        <p><%= link_to "Collection", "#",class:" text-decoration-none text-dark"%></p>
        <p><%= link_to "Mes favoris",favoris_path,class:" text-decoration-none text-dark"%></p>
        <p><%= link_to "Ventes", "#",class:"text-decoration-none text-dark"%></p>
=======
        <p><%= link_to "Compte", "#", class:" text-decoration-none text-dark"%></p>
        <p><%= link_to "Collection", offers_path(user_id: current_user) , class:" text-decoration-none text-dark"%></p>
        <p><%= link_to "Ventes", "#", class:"text-decoration-none text-dark"%></p>
>>>>>>> e56a54a979eba4d968f24d363ab8c5ebe194a981
        <p><%= link_to "Log out", destroy_user_session_path, class:"text-decoration-none text-dark", data: {turbo_method: :delete}%></p>
      </div></a>
    <% else %>
      <%# menu se connecter %>
      <%= link_to "Se connecter", new_user_session_path, class: "nav-link position-relative top-40 end-0" %>
    <% end %>

    </div>
  </div>

<p></p>
