  <div class='card-game' data-controller="add-favori"
     data-add-favori-game-id-value="<%= game.id %>"
     data-add-favori-favori-id-value="<%= game.favoris.where(user: current_user).first&.id %>"
     data-add-favori-target="cardGame"
  >
    <div class='card-game-infos-img'>
      <%= link_to game_path(game) do %>
        <%= image_tag game.cover %>
      <% end %>
    </div>

    <div class='card-game-infos'>

      <div class='card-game-infos-tags'>

        <% if user_signed_in? %>
          <div class="wrapper-row-spacebtw">
            <h5><strong><%= game.title %></h5></strong>
            <% if game.favoris.where(user: current_user).empty? %>
              <i class=" fa-regular fa-heart fa-lg card-logo-heart" data-action="click->add-favori#createFavori"></i>
            <% else %>
              <i class=" fa-solid fa-heart fa-lg card-logo-heart" data-action="click->add-favori#destroyFavori"></i>
            <% end %>
          </div>
        <% end %>

        <%= game.platform %><br>
        <em><%= game.publisher %></em><br>
        <%= game.offers.size %> annonce(s)

      </div>

      <div class='card-game-info-actions'>
        <%= link_to new_game_offer_path(game), class: 'btn btn-success' do %>
          Estimer mon jeu
        <% end %>
      </div>
    </div>


  </div>
