  <div class='card-game' data-controller="add-favori"
    data-add-favori-game-id-value="<%= game.id %>"
    data-add-favori-favori-id-value="<%= game.favoris.where(user: current_user).first&.id %>"
    data-add-favori-target="cardGame"
    >
      <div class='card-game-infos-img'>
        <%= link_to game_path(game) do %>
          <%= image_tag game.cover %>
        <% end %>
      </div>
      <div class='card-game-infos'>
        <div>
          <%= link_to game_path(game) do %>
            <h5><strong><%= game.title %></h5></strong>
          <% end %>
        </div>
        <div class='card-game-info-actions'>

            <div>
              <%= link_to game_path(game) do %>
              <%= game.platform %><br>
              <em><%= game.publisher %></em><br>
              <%= game.offers.size %> annonce(s)
              <% end %>
            </div>

            <div>
                <% if user_signed_in? %>
                <% if game.favoris.where(user: current_user).empty? %>
                  <i class="text-danger fa-regular fa-heart fa-lg card-logo-heart" data-action="click->add-favori#createFavori"></i>
                <% else %>
                  <i class="text-danger  fa-solid fa-heart fa-lg card-logo-heart" data-action="click->add-favori#destroyFavori"></i>
                <% end %>
            <% end %>

            </div>


        </div>
      </div>
  </div>
