<% @games.each do |game| %>
  <div class='card-game'>
    <div class='card-game-infos'>
      <div class='card-game-infos-img'>
        <%= image_tag game.cover %>
      </div>
      <div class='card-game-infos-tags'>
        <h5><strong><%= game.title %></h5></strong>
        <%= game.platform %><br>
        <em><%= game.publisher %></em><br>
        <%= game.offers.size %> annonce(s) pour ce jeu.
      </div>
    </div>


    <div class='card-game-actions'>
      <%= link_to game_path(game), class: 'btn btn-primary d-block' do %>
        <i class="fa-solid fa-circle-info"></i>
        Détails
      <% end %>
      <%= link_to new_game_offer_path(game), class: 'btn btn-success d-block' do %>
        <i class="fa-solid fa-coins"></i>
        Estimer le mien
      <% end %>
    </div>
  </div>

<% end %>

