<%# Carte du jeu %>
<div class="card-game">
  <div class='card-game-infos'>
    <div class='card-game-infos-img'>
      <%= image_tag @game.cover %>
    </div>
    <div class='card-game-infos-tags'>
      <h5><strong><%= @game.title %></strong></h5>
      <p>console : <strong><%=@game.platform%></strong></p>
      <p>publisher : <strong><%=@game.publisher%></strong></p>
      <p>genre : <strong><%=@game.genre%></strong></p>
      <p>released : <strong><%=@game.release_year%></strong></p>
    </div>
  </div>
      <%= link_to new_game_offer_path(@game), class: 'btn btn-success d-block' do %>
        <i class="fa-solid fa-coins"></i>
        Estimer mon exemplaire
      <% end %>
</div>

  <%# Carte du vendeur ayant le jeu %>
  <% @offers.each do |offer| %>
    <div class="card-offer-infos">
      <p>Vendeur :<strong><%= link_to offers_path(user_id: offer.user.id), class: "link-dark" do %>
          <%= offer.user.username %></strong><% end %></p>
      <p>Prix : <%= offer.price %>€</p>
      <p>Description : <%= offer.description %></p>
      <br><p><i class="text-primary fa-solid fa-eye "></i> <%= link_to "Voir cette annonce", offer_path(offer)%></p>
      <p><i class="text-primary fa-solid fa-heart"></i> <%= link_to "favoris", "#"%></p>
    </div>
  <% end %>
