<div class="mobile-container">

  <div class="row my-3">
    <div class="col-4">
      <%= image_tag ("#{@game.cover}"), style:"max-width: 100%"%>
    </div>

    <div class="col-8">
        <h5 class="card-title"><strong><%= @game.title %></strong></h5>
        <p class="card-text">console : <strong><%=@game.platform%></strong></p>
        <p class="card-text">publisher : <strong><%=@game.publisher%></strong></p>
        <p class="card-text">genre : <strong><%=@game.genre%></strong></p>
        <p class="card-text">released : <strong><%=@game.release_year%></strong></p>

          <%= link_to "Estimer mon exemplaire",  new_game_offer_path(@game),class: "btn btn-primary  border rounded-pill"%>

    </div>
  </div>
  <div>
  <% @offers.each do |offer| %>
    <div class= "card m-2">
      <div class="row">
        <div class="col-3">
          <%= image_tag ("#{offer.game.cover}"), style:"max-width: 100%"%>
        </div>
        <div class="col-9">
          <p>par <strong><%= link_to "#{offer.user.username}","#" %></strong></p>
          <p>prix: <strong> <%= offer.price %> Euros</strong></p>
          <p><strong><%= offer.description %></strong></p>
        </div>
        <p>
          <span><%= link_to "Acheter", "#"%></span>
           <span><i class="text-primary fa-solid fa-cart-shopping"></i><%= link_to "Ajouter au panier", "#"%></span>
           <span><i class="text-primary fa-regular fa-heart"></i><%= link_to "favoris", "#"%></span>
        </p>
        <p>
          <i class="text-primary fa-solid fa-layer-group"></i> <%= link_to "collection de <strong>#{offer.user.username}</strong>".html_safe,"#"%>
        </p>
      </div>
    </div>
  <% end %>
  </div>
</div>
