<div class="mobile-container">

  <div class="row">
    <div class="col-6">
      <%= image_tag ("#{@game.cover}"), style:"max-width: 100%"%>
    </div>

    <div class="col-6">
        <h5 class="card-title"><strong><%= @game.title %></strong></h5>
        <p class="card-text">console : <strong><%=@game.platform%></strong></p>
        <p class="card-text">publisher : <strong><%=@game.publisher%></strong></p>
        <p class="card-text">genre : <strong><%=@game.genre%></strong></p>
        <p class="card-text">released : <strong><%=@game.release_year%></strong></p>
        <div class = "btn btn-danger">
          <%= link_to "add to my collection", new_game_offer_path(@game)%>
        </div>
    </div>
  </div>
  <div>
  <% @offers.each do |offer| %>
    <ul>
    <li>offer username is: <%= offer.user.username %></li>
    <li>offer price is: <%= offer.price %></li>
    <li>offer descritpiton is: <%= offer.description %></li>
    <%= link_to "buy this product", "#"%>
    </ul>
  <% end %>
  </div>
</div>
