<div class="card-generic">
  <h5>
    <% if @user == current_user %>
      <strong>Ma collection</strong>
      <em>(<%= @user.offers.size %> jeu(x))</em>
    <% else %>
      Collection de <strong><%= @user.username %></strong>
      <em>(<%= @user.offers.size %> jeu(x))</em>
    <% end %>
  </h5>
</div>

<% @user.offers.each do |offer| %>

  <div class="card-game">

    <div class='card-game-infos-img'>
        <%= image_tag offer.game.cover %>
      </div>

    <div class='card-game-infos'>

      <div class="card-game-infos-tags">
        <h5>
          <strong><%= offer.game.title %></strong>
        </h5>
        <p>
          <%= offer.game.platform %>
          <br>
            Prix moyen : <strong><%= offer.game.average_price %>€</strong>
          <br>
          <% if offer.on_sale %>
            Mon prix : <strong><%= offer.price%>€ </strong>
            <p><em>Ce jeu est en vente.</em></p>
          <% else %>
            <p><em>Ce jeu n'est pas en vente.</em></p>
          <% end %>
        </p>
      </div>

      <div class='card-game-info-actions'>
        <%if offer.user == current_user %>
          <%= link_to offer_path(offer)  do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
          <br>
          <%= link_to edit_offer_path(offer)  do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <br>
          <%= link_to offer_path(offer), data: {turbo_method: :delete, turbo_confirm: "Supprimer cette annonce ?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <%end%>

      </div>

    </div>

  </div>
<% end %>
