<div class="card-game">

    <div class="card-game-infos-img">
      <%= image_tag @game.cover %>
    </div>

  <div class="card-game-infos">

    <div class="card-game-infos-tags">
      <h5><strong><%= @game.title %></strong></h5>
      <%= @game.platform %><br>
      <em><%= @game.publisher %></em><br><br>
      <p>Prix moyen : <strong><%= @game.average_price.round(2) %>€</strong></p>
    </div>

  </div>

</div>

<div class="card-game-offer-new">

  <p><strong>Décrivez l'état de vôtre jeu :</p></strong>

  <div class="card-game-estimation" data-controller="estimate" data-estimate-price-value="<%= @game.average_price %>">

    <%= simple_form_for [@game, @offer] do |f| %>

        <%= f.input :box_condition, collection: Offer::CONDITIONS, input_html: { data: { estimate_target: "box" } }, label: "État de la boîte :" %>
        <%= f.input :cover_condition, collection: Offer::CONDITIONS, input_html: { data: { estimate_target: "cover" } }, label: "État de la jaquette :" %>
        <%= f.input :manual_condition, collection: Offer::CONDITIONS, input_html: { data: { estimate_target: "manual" } }, label: "État de la notice :" %>
        <%= f.input :media_condition, collection: Offer::CONDITIONS, required: true, input_html: { data: { estimate_target: "game" } }, label: "État du jeu :" %>

        <span data-action="click->estimate#displaySubmitArea" class='btn btn-primary d-block'>Estimer</span>

        <%# Zone masquée par défaut mais qui s'affiche au clic sur "Estimer"%>
        <div data-estimate-target="addButton" class="d-none">
          <br>
          <p>Prix estimé : <strong><span data-estimate-target="estimatedPrice"></span>€</p></strong>

          <%= f.label :on_sale, "Mettre en vente :" %>
          <%= f.radio_button :on_sale, true, { required: true, data: { action: "click->estimate#onSale" } } %>
          <%= f.label :on_sale, "Oui" %>
          <%= f.radio_button :on_sale, false, { required: true, data: { action: "click->estimate#notOnSale" } } %>
          <%= f.label :on_sale, "Non" %>
          <br>
          <br>
          <%= f.submit "Ajouter à ma collection", class: "btn btn-success d-none w-100", data: { estimate_target: "addCollectionButton" } %>
          <div data-estimate-target="offerInfos" class="d-none">
            <%= f.input :price, label: "Votre prix :", input_html: { data: { estimate_target: "userPrice" } } %>
            <%= f.label :photos, "Photos : (facultatif)" %>
            <br>
            <%= f.file_field :photos, multiple: true %>
            <br><br>
            <%= f.input :description %>
            <%= f.submit "Mettre en vente", class: "btn btn-success w-100" %>
          </div>
        </div>
        <%# Fin de la zone masquée %>

    <% end %>

  </div>

</div>
