<div class="card-generic">
    <h3 class="text-center">
      Annonce de <strong><%=@offer.user.username %></strong>
    </h2>
</div>

<div class='card-game' data-controller="add-favori"
     data-add-favori-game-id-value="<%= @game.id %>"
     data-add-favori-favori-id-value="<%= @game.favoris.where(user: current_user).first&.id %>"
     data-add-favori-target="cardGame"
  >
    <div class='card-game-infos-img'>
      <%= image_tag @game.cover %>
    </div>

    <div class='card-game-infos'>

      <div class='card-game-infos-tags'>

        <div class="wrapper-row-spacebtw">
          <h5><strong><%= @game.title %></h5></strong>
          <% if @game.favoris.where(user: current_user).empty? %>
            <i class=" fa-regular fa-heart fa-lg card-logo-heart" data-action="click->add-favori#createFavori"></i>
          <% else %>
            <i class=" fa-solid fa-heart fa-lg card-logo-heart" data-action="click->add-favori#destroyFavori"></i>
          <% end %>
        </div>

        <%= @game.platform %><br>
        <em><%= @game.publisher %></em><br>

      </div>

      <div class='card-game-info-actions'>
        <%= link_to new_game_offer_path(@game), class: 'btn btn-success w-100' do %>
          Estimer mon jeu
        <% end %>
      </div>
    </div>


  </div>

<div class="card-offer">

  <div class ="card-offer-infos-img">
    <% if @offer.photos.attached? %>
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>
    <% else %>
      <%= image_tag asset_path('no_photo.jpg') %>
    <% end %>
  </div>

  <div class ="card-game-infos-tags">
    <br>
    <p>Prix : <strong><%=@offer.price %>€</strong></p>
    <br>
    <p>Boîte : <strong><%=@offer.box_condition %></strong></p>
    <p>Jaquette : <strong><%=@offer.cover_condition %></strong></p>
    <p>Manuel : <strong><%=@offer.manual_condition %></strong></p>
    <p>Jeu : <strong><%=@offer.media_condition %></strong></p>
    <br>
    <p>Description:</p>
    <p class="border p-1"><strong><%=@offer.description%></strong></p>
    <br>

  </div>
    <div class='card-game-actions'>

      <%if @offer.user != current_user %>

      <%else%>

        <%= link_to edit_offer_path(@offer) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Supprimer ce jeu ?"} do %></span>
          <i class="fa-solid fa-trash"></i>
        <% end %>

      <% end %>

    </div>

</div>


<div class="card-generic">

  <div class="chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @offer.id %>">
    <h4 class="text-center">Discuter avec le vendeur</h4>

    <div class="card-chat messages" data-chatroom-subscription-target="messages">
      <% @offer.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@offer, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Message", wrapper_html: { class: "flex-grow-1" } %>
      <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
    <% end %>

  </div>

</div>
