<div class='card-game'>
  <div class="card-game-infos">
    <div class ="card-game-infos-img">
      <%= image_tag @game.cover %>
    </div>
    <div class = "card-game-infos-tags">
      <h5><strong><%= @game.title %></strong></h5>
      <p>Possesseur :<strong><%=@offer.user.username %></strong></p>
      <p>Genre : <strong><%= @game.genre %></strong></p>
      <p>Plateforme :<strong><%= @game.platform %></strong></p>
      <p>Editeur : <strong><%= @game.publisher %></strong></p>
    </div>
  </div>

  <div class="card-game">
    <h2 class="text-center">Mon jeu :</h2>
    <div class ="card-game-infos-img">
      <% if @offer.photos.attached? %>
        <% @offer.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
      <% else %>
    <%= favicon_link_tag asset_path('hmr_logo.png') %>
      <% end %>
    </div>

    <div class ="card-game-infos-tags">
      <p>Etat : <strong><%=@offer.media_condition %></strong></p>
      <p>Couverture: <strong><%=@offer.cover_condition %></strong></p>
      <p>Boite: <strong><%=@offer.box_condition %></strong></p>
      <p>Prix: <strong><%=@offer.price %></strong></p>
      <%if @offer.user != current_user %>
        <%= link_to "Acheter", offer_path(@offer)%></span>
      <%else%>
        <%= link_to "Modifier mon annonce", edit_offer_path(@offer)%>
        <br>
        <%= link_to "suprimer l annonce",offer_path(@offer),data: {turbo_method: :delete, turbo_confirm: "Supprimer cette annonce ?"}%></span>
      <%end%>
    </div>
  </div>

  <div class="card-game">
    <h2 class="text-center">Le vendeur :</h2>
    <p>Nom : <strong><%=link_to @offer.user.username ,offers_path(user_id: @offer.user.id)%></strong></p>
    <p>Description: <strong><%=@offer.description%></strong></p>
  </div>
</div>
