<div class='card-game'>
  <div class="card-game-infos">
    <div class ="card-game-infos-img">
      <%= image_tag @game.cover %>
    </div>
    <div class = "card-game-infos-tags">
      <h5><strong><%= @game.title %></strong></h5>
      <p>Possesseur :<strong><%=@offer.user.username %></strong></p>
      <p>Genre : <strong><%= @game.genre %></strong></p>
      <p>Plateforme :<strong><%= @game.platform %></strong></p>
      <p>Editeur : <strong><%= @game.publisher %></strong></p>
    </div>
  </div>
</div>

<div class="card-game">
  <h2 class="text-center">Mon exemplaire</h2>
  <div class ="card-game-infos-img">
    <% if @offer.photos.attached? %>
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>
    <% else %>
      <%= image_tag asset_path('no_photo.jpg') %>
    <% end %>
  </div>

  <div class ="card-game-infos-tags">
    <p>Prix: <strong><%=@offer.price %>€</strong></p>
    <p>Etat : <strong><%=@offer.media_condition %></strong></p>
    <p>Couverture: <strong><%=@offer.cover_condition %></strong></p>
    <p>Boite: <strong><%=@offer.box_condition %></strong></p>
    <p>Description: <strong><%=@offer.description%></strong></p>
      <%if @offer.user != current_user %>
        <%= link_to offer_path(@offer), class: "btn btn-primary d-block"  do %>
          Acheter
        <% end %>
      <%else%>
        <div class='card-game-actions'>
          <%= link_to edit_offer_path(@offer),class:"btn btn-dark" do %>
            <i class="fa-solid fa-pen"></i>
              Modifier
          <% end %>
          <br>
          <%= link_to offer_path(@offer), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Supprimer ce jeu ?"} do %></span>
            <i class="fa-solid fa-trash"></i>
            Supprimer
          <% end %>
        </div>
      <%end%>
  </div>
</div>


<div class="card-game">

  <div class="chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @offer.id %>">
    <h3 class="text-center">Chat en direct</h3>

    <div class="card-chat messages" data-chatroom-subscription-target="messages">
      <% @offer.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@offer, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Message", wrapper_html: { class: "flex-grow-1" } %>
      <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
    <% end %>

  </div>

</div>
